@keyframes colorChange {
  from {
    background-color: none;
  }
  to {
    background-color: transparentize($color-back, 0.5);
  }
}

.header {
  @include flexboxCenter;
  width: 100vw;
  height: 150px;
  background-color: $color-primary;
  background-image: linear-gradient(160deg, $color-primary, $color-back);
  flex-direction: column;
  .logo{
    color: $color-secondary;
    font-size: 60px;
    font-family: $font-brand;
    letter-spacing: 3px;
    margin: 20px 0px;
  }
  .navigation{
    @include flexboxCenter;
    font-size: 13px;
    font-family: $font-primary;

    li {
      list-style-type: none;
      border-radius: 20px;
      :hover{
        animation: colorChange 0.5s;
        animation-fill-mode: forwards;
      }
      .nav-button {
        text-decoration: none;
        padding: 10px;
        text-transform: uppercase;
        color: $color-secondary;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}


