@keyframes shake {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}

.add-gift{
  @include flexboxCenter;
  flex-direction: column;
  width: 100%;
  .add-gift-image{
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
    background-image: url("images/giftbox.png");
    background-position: center;
    background-size: cover;
    animation: shake 1s infinite alternate;
  }

  .add-gift-button {
    @include buttonStyle(30px);
    font-family: $font-brand;
    letter-spacing: 3px;
    font-weight: 300;
    text-decoration: none;
    @media (max-width: 500px) {
      @include buttonStyle(22px);
    }
  }
}

.explore-section{
  @include flexboxCenter;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  @media (max-width: 1000px) {
    justify-content: center;
  }
  .see-gift-ideas, .see-events{
    border: 3px dashed $color-secondary;
    width: 40%;
    margin: 30px;
    border-radius: 75px;
    @media (max-width: 1200px) {
      width: 100%;
    }
    @media (max-width: 5000px) {
      margin: 30px 10px;
    }
    h3, h2{
      font-family: $font-primary;
      text-transform: uppercase;
      color: $color-secondary;
      font-size: 30px;
      text-align: center;
    }
    h3 {
      margin-top: 60px;
      margin-bottom: 20px;
      padding: 0px 10px;
    }
    h2 {
      font-family: $font-brand;
      margin-bottom: 30px;
      font-size: 50px;
    }
    .friends-image{
      background-image: url("images/friends.png");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 250px;
      border-radius: 0px 0px 75px 75px ;
    }
    .events-image{
      background-image: url("images/girlanda2.png");
      background-position: bottom;
      background-size: cover;
      width: 100%;
      height: 150px;
      border-radius: 75px 75px 0px 0px;
    }
  }
  .see-events {
    @media (max-width: 1200px) {
      margin-bottom: 50px;
    }
    h2 {
    margin-bottom: 130px;
    @media (max-width: 1200px) {
      margin-bottom: 50px;
    }
  }}
}
